.container,
.container--small,
.container--med {
  width: 90%;
  margin: 0 auto;
}

.container--med {
}

.container--small {
}

.is-center {
  text-align: center;
}

.row {
  margin: 0 -15px -30px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
}

.col--33,
.col--50 {
  width: 100%;
  margin-bottom: 1.875rem;
}

.section-padding {
  padding: 7.125rem 0; /* 114 */
  &--lg {
    padding: 9.375rem 0 6.75rem; /* 150 0 108 */
  }
}

.spacer {
  &--15 {
    margin-bottom: .83333rem;
  }
  &--30 {
    margin-bottom: 1.875rem; /* 30 */
  }
  &--40 {
    margin-bottom: 2.5rem; /* 40 */
  }
  &--50 {
    margin-bottom: 3.125rem; /* 50 */
  }
}

.hide-mobile {
  display: none;
}

@media (min-width: $ss-small * 1px) {
  .hide-mobile {
    display: block;
  }
}

@media (min-width: $ss-medium * 1px) {
  .container--small {
    width: 555px;
  }

  .row {
    margin: 0 -15px;
  }

  .col--33,
  .col--50 {
    margin: 0 15px;
  }

  .col--33 {
    width: calc(33.33% - 30px);
  }

  .col--50 {
    width: calc(50% - 30px);
  }
}

@media (min-width: $ss-large * 1px) {
  .container {
    width: 1140px;
    &--med {
      width: 945px;
    }
  }
}

.hidden {
  display: none;
}
