.header {
  $_parent: &;
  padding-top: 2.1875rem;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 250ms ease-in-out;

  * {transition: all 350ms ease-in-out}

  &__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    * {
      fill: $color-white;
    }
  }

  &__contact-link {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-white;
    display: flex;
    align-items: center;
    font-weight: 400;
  }

  &__contact-img {
    margin-left: 1rem;
    width: 36px;

    * {
      fill: $color-white;
    }
  }

  &--is-scrolled {
    background-color: $color-white;
    padding-top: 10px;
    padding-bottom: 10px;

    #{$_parent}__container {
      @extend .container;
    }

    #{$_parent}__contact-img * {
      fill: $color-third;
    }

    #{$_parent}__contact-link {
      color: $color-third;
    }

    #{$_parent}__logo * {
      fill: $color-third;
    }
  }
}
