// colors
$color-main: rgba(0, 91, 156, 1);  //bleu foncé  #005b9c
$color-second: rgba(97, 197, 184, .5);  //bleu vert pale #61c5b8
$color-third: rgba(97, 197, 184, 1);   //vert  #61c5b8
$color-white: rgba(255, 255, 255, 1);   //vert  #fff

// screen size
// $ss-xsmall: 400;
// $ss-small: 600;
$ss-medium: 900;
$ss-large: 1200;
