.hero {
  background-image: url(/images/bg_hero.png);
  background-size: cover;
  display: flex;
  min-height: 100vh;
  background-position: right 20% center;
  &__texte {
    align-self: center;
  }
  &__title {
    text-transform: capitalize;
    font-family: 'robotoSlab', serif;
    font-weight: 300;
    font-size: 2.5em; /* 40 */
  }
  &__subtitle {
    font-size: 1.0625em; /* 17 */
    line-height: 1.29em;
  }
}


@media (min-width: $ss-medium * 1px) {
  .hero {
    background-position: center;
    &__title {
      font-size: 4em; /* 64 */
    }
    &__subtitle {
      font-size: 1.625em; /* 26 */
    }
  }
}
