.hero {
  background-image: url(/images/bg_hero.png);
  background-size: cover;
  display: flex;
  min-height: 100vh;
  &__texte {
    align-self: center;
  }
  &__title {
    text-transform: capitalize;
    font-family: 'robotoSlab', serif;
    font-weight: 300;
    font-size: 4em; /* 64 */
  }
  &__subtitle {
    font-size: 1.625em; /* 26 */
  }
}
