.tagline {
  font-family: 'robotoSlab', serif;
  font-size: 1.75em; /* 28 */
  line-height: 1.224em; /* 34 */
  background-image: url(/images/bg_tagline.png);
  background-size: cover;
  padding-bottom: 9.375rem;
  background-position: right 20% top;
}

@media (min-width: $ss-small * 1px) {
  .tagline {
    font-size: 2.8125em; /* 45 */
    line-height: 1.224em; /* 55 */
  }
}

@media (min-width: $ss-medium * 1px) {
  .tagline {
    background-position: center top;
  }
}


.slick-dots {
  position: relative;

  li button::before {
    width: 16px;
    height: 16px;
    border: 1px solid $color-main;
    border-radius: 100%;
    content: "";
    opacity: 1;
    background-color: transparentize($color-main, 1);
    transition: background-color 250ms;
  }

  li.slick-active button::before {
    background-color: $color-main;
    opacity: 1;
  }
}
